/* You can add global styles to this file, and also import other style files */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css');
body {
  padding: 1em;
  width: 80%;
  margin: auto;
  background-color: rgb(203, 203, 255);
}
