body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #393E46;
    width: 80%;
    margin: auto;
    transition: background-color 2000ms ease-in;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #4ECCA3;
    text-align: center;
    line-height: 1em;
}

section {
    display: flex;
    justify-content: center;
    margin: auto;
}

@media screen and (max-width: 700px) {
    section {
        flex-direction: column;
    }
    
    body {
        width: 100%;
    }
}

footer p {
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
}

p, button {
    color: #4ECCA3;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
}

/* button {
    font-size: 1.3em;
    background-color: #4ecca24d;
    width: fit-content;
    margin: auto;
    padding: 2px 10px;
    display: block;
} */

button {
    font-size: 1.5em;
    display: block;
    margin: auto;
	color: #fff !important;
	text-decoration: none;
	background: #b4516a;
	padding:.5em .7em;
	border-radius: 5px;
	border: none;
	transition: all 0.4s ease 0s;
}

button:hover {
	background: #b44964;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
    transform: translateY(2px);
}

.dice {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px;
    margin-bottom: 2em;
}
