.newBlog {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newBlog input {
  width: 100%;
}

.newBlog textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}