/* You can add global styles to this file, and also import other style files */
@import './styles/init-css';
@import './styles/colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500&family=Roboto:wght@100;400;700&display=swap');
@import '~primeflex/primeflex.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/arya-orange/theme.css';
@import '~primeng/resources/primeng.min.css';
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $white;
    background-color: $bgColor;
    width: 100%;
}

.container {
    margin: 0.5rem;
    padding: 0.5rem;
}

.grid {
    margin: 0;
}